.form-control {
  @include placeholder($text-color);
  font-weight: 400;
  font-size: rem(14);
  padding: $padding-base-vertical 0 $padding-base-vertical 15px;
  background-clip: padding-box;
  box-shadow: none;
  background: transparent;
  border: 1px solid $border-color-2 !important;
  color: $text-color;
  height: 45px;
  position: relative;
  z-index: 3;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 0 !important;
  }

  &__icon {
    @include position(absolute, 12px null null null);
    z-index: 4;
    line-height: 1.4;

    &--left {
      left: 16px;
      right: auto;
    }

    &--right {
      left: auto;
      right: 16px;
    }

    &--grey {
      color: $grey-1;
    }
  }

  &--alt {
    height: 40px;
    background: #ffffff;
    border: none;
  }

  .trigger {
    width: inherit !important;
  }

  &--big {
    font-size: 30px;
    border-bottom-width: 2px;
    padding-bottom: 15px;
  }

  &--textarea-big {
    height: 200px !important;
    padding-top: 10px;
  }

  &--icon-left {
    padding-left: 55px;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    background: #ffffff;
    color: $f-light-bg-disabled;

   // @include placeholder($f-light-bg-disabled);
  }

  &--padding {
    padding-top: 5px;
  }

  &::-ms-clear {
    display: none;
  }

  &:active, &:focus, &--has-value {
    //@include placeholder($color3);
    border-color: #b8b8bb !important;
    border-bottom: 1px solid $color1 !important;
    @include placeholder($text-color);

    /*
    &+label, &+ul+label {
      color: $color1;
      top: -10px;
      font-size: 13px;
      @include transition(.3s all ease-in-out);
    }
    */
  }

}


label {
  @include transition(.3s all ease-in-out);
}

/* Checkbox */
.fa-checkbox-custom {
  position: relative;
  padding-left: 35px;
  padding-top: 0;
  float: left;
  cursor: pointer;
  margin-bottom: 0;

  &__input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;

    &:focus + .fa-checkbox-custom__icon-state {
      border-color: $grey-light;
    }

    &:checked + .fa-checkbox-custom__icon-state {
      background: #ffffff;
      border-color: $color1;
    }

    &:checked + .fa-checkbox-custom__icon-state:after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      margin-top: -5px;
      margin-left: -2px;
      width: 5px;
      height: 9px;
      border: solid $color1;
      border-width: 0 3px 3px 0;
      content: "";
      transform: rotate(45deg);
      transform-origin: 50% 50%;
    }

    &:disabled + .fa-checkbox-custom__icon-state, &:disabled + .fa-checkbox-custom__icon-state + .fa-checkbox-custom__label {
      color: lighten(#000000, 80%);
      border-color: lighten(#000000, 80%);
    }
  }

  &__icon-state {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    margin-left: -36px;
    padding: 0;
    width: 18px;
    height: 18px;
    border: 2px solid $grey-light;
    background-color: #ffffff;
    vertical-align: top;

    &--alt {
      border-color: $grey-light;
      background-color: transparent;
    }

    &__vertical-middle {
      position: absolute;
      margin-top: -12.5px;
      top: 50%;
    }
  }

  &__label {
    font-weight: $font-weight-base;
    vertical-align: top;

    &--small {
      font-size: rem((strip-units($font-size-base) - 1));
    }
    &--white {
      color: #ffffff;
    }

    &__icon {
      color: $text-color;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
    }

    &__text {
      color: $text-color;
      display: inline-block;
      line-height: 1.2;
      padding: 0 0 10px 10px;

      @media (max-width: $screen-sm-max) {
        max-width: calc(100% - 25px);
      }
    }

    &__subtext {
      display: block;
      clear: both;
      color: $grey-1;
      padding-left: 20px;
    }
  }
}

/* Checkbox yes/no */
.fa-checkbox-status {
  width: 40px;
  height: 21px;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  padding-top: 0;

  &__input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;

    &:focus + .fa-checkbox-status__label{

    }

    &:checked + .fa-checkbox-status__label {
      background: $brand-primary;

    }

    &:checked + .fa-checkbox-status__label:after {
      @include transform(translateX(19px));
    }

    &:checked ~ .fa-checkbox-status__text:after {
      content: 'yes';
    }

  }

  &__label {
    @include position(absolute, 0 0 0 0 );
    background-color: #949595;
    border-radius: 10px;

    &:after {
      content: '';
      @include position(absolute, 2px null null 2px);
      width: 17px;
      height: 17px;
      background-color: #ffffff;
      border-radius: 50%;
      @include transition(.3s all ease-in-out);

    }
  }

  &__text {
    &:after {
      content: 'no';
      @include position(relative, null null null 50px);
      font-size: 14px;
      text-transform: uppercase;
      color: $grey-1;

      @media (max-width: $screen-xs - 1) {
        position: static;
        display: block;
        text-align: center;
        padding-top: 25px;
      }
    }
  }
}

/* Radio */
.fa-radio-custom {
  position: relative;
  padding-left: 35px;
  line-height: 1;

  &__input {
    position: absolute;
    opacity: 0;

    &:focus + .fa-radio-custom__icon-state {
      border-color: $input-border-focus;
    }

    &:checked + .fa-radio-custom__icon-state {
      border-color: $color1;
    }

    &:checked + .fa-radio-custom__icon-state:after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      margin-top: -4px;
      margin-left: -4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $brand-primary;
      border-color: $color1;
      content: "";
    }

    &:disabled + .fa-radio-custom__icon-state, &:disabled + .fa-radio-custom__icon-state + .fa-radio-custom__label {
      color: lighten(#000000, 80%);
      border-color: lighten(#000000, 80%);
    }

  }

  &__icon-state {
    position: relative;
    display: inline-block;
    margin-right: 1px;
    margin-left: -35px;
    padding: 0;
    width: 20px;
    height: 20px;
    border: 2px solid lighten(#000000, 60%);
    border-radius: 50%;
    background-color: transparent;
    vertical-align: bottom;

    &--alt {
      border-color: #6685a3;
      background: transparent;
    }
  }

  &__label {
    &--white {
      color: #ffffff;
    }
  }
}

/* Radio icon */
.fa-radio-icon-custom {
  position: relative;
  margin-right: 15px;

  &:hover {
    cursor: pointer;
  }

  &__input {
    position: absolute;
    opacity: 0;

    &:focus + .fa-radio-icon-custom__icon-state {
      border-color: $input-border-focus;
    }

    &:checked + .fa-radio-icon-custom__icon-state {
      border-color: $color1;
    }

    &:checked + .fa-radio-icon-custom__icon-state:before {
      color: $brand-primary;
    }

    &:disabled + .fa-radio-icon-custom__icon-state {
      color: lighten(#000000, 80%);
      border-color: lighten(#000000, 80%);
    }

  }

  &__icon-state {
    position: relative;
    display: inline-block;
    padding: 0;
    width: 20px;
    height: 25px;
    background-color: transparent;
    vertical-align: bottom;
  }

}

.m-form {
  @include clearfix();
  position: relative;

  &__group {
    @extend .form-group;
    position: relative;
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
    z-index: 4;

    @media (max-width: $screen-xs-max) {
      margin-right: 0;
    }

    &__label {
      @include position(absolute, 10px null null 0);
      z-index: 2;
      .fa {
        margin-right: 10px;
      }
      &--white {
        color: #ffffff;
        border-bottom-color: #ffffff;
      }
      &--text-normal {
        text-transform: none;
      }
    }

    &__label-inline {
      display: inline-block;
      width: 200px;
      font-size: 14px;

      @media (max-width: $screen-xs-max) {
        width: 100%;
        display: block;
        margin-bottom: 5px;
      }

      &~ .m-form__group__field-inline {
        font-size: 14px;
        display: inline-block !important;
        width: calc(100% - 270px) !important;
        line-height: 45px;
        vertical-align: middle;

        @media (max-width: $screen-xs-max) {
          width: calc(100% - 35px) !important;

          .button + .button {
            margin-top: 0;
          }
        }
      }
    }

    &__input-icon {
      position: relative;
    }

    &__popover {
      display: inline-block;
      color: $grey-1;

      .button {
        color: $grey-1;
      }
    }

    &__text-right {
      text-align: right;

      @media (max-width: $screen-xs-max) {
        text-align: left;
      }
    }

    &--rmargin-big {
      margin-right: 40px;

      @media (max-width: $screen-sm-max) {
        margin-right: 10px;
      }

      @media (max-width: $screen-xs-max) {
        margin-right: 0;
      }
    }

    &--margin {
      margin-bottom: 20px;
    }

    &--margin-mid {
      margin-bottom: 40px;
    }

    &--width {
      width: 21.25%;
    }

    &--full {
      width: 100%;
      margin-right: 0;
    }

    &--right {
      float: right;

      @media (max-width: 1700px) {
        margin-top: 10px;
      }

      @media (max-width: 1260px) {
      }
    }

    &--right-alt {
      @media (max-width: 1700px) {
        float: right;
      }

      @media(max-width: $screen-sm-max) {
        float: left;
      }
    }

    &--margin-disabled {
      margin-bottom: 0;
    }

    &--margin-top {
      margin-top: $margin-default;
    }

    &--half-margin-top {
      margin-top: $margin-default / 2;
    }

    &--separate {
      &:not(:first-child) {
        padding-top: $form-group-margin-bottom;
        border-top: 1px solid #d7d7d7;
      }
    }

    &--inline {
      display: inline-block;
      margin: 0 7px 10px 0;

      .form-control {
        display: inline-block;
      }
    }

    &--special {
      @media (max-width: $screen-sm-min) {
        margin-bottom: 15px;
      }
    }

    &--mobile-cl {
      @media (max-width: $screen-sm-max) {
        clear: left;
      }
    }

    &--mobile-margin {
      @media (max-width: $screen-sm-max) {
        margin-bottom: 20px;
      }

      @media (max-width: $screen-xs-max) {
        margin-bottom: 10px;
      }
    }

    &--mobile-width {
      @media (max-width: $screen-sm-max) {
        width: 43%;
      }

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }

    &--mobile-width-small {
      @media (max-width: $screen-sm-max) {
        width: 60px;
        margin-right: 0;

        .button {
          width: 100%;
          text-align: center;
          padding: 10.5px 5px;
        }
      }
      @media (max-width: $screen-xs-max) {

      }
    }

    &--mobile-as {
      @media (max-width: $screen-xs-max) {
        @include position(absolute, 55px 0 null null);
      }
    }

    &--text-va {
      line-height: 45px;
    }

    &--full-search {
      width: 100%;
      margin-right: 0;

      .m-form__group__input-icon {
        display: inline-block;
        width: calc(100% - 75px);
      }

      .button {
        vertical-align: bottom;
        float: right;
      }
    }
  }

  &--margin-top-50 {
    margin-top: 50px;
  }

  &--b-padding {
    @media (min-width: $screen-sm-min) {
      padding-bottom: 62px;
    }
  }

  &__label {
    font-weight: $font-weight-base;
  }

  &__row {
    &--tpadding {
      padding-top: 13px;
    }
  }

  &--special {
    @media (max-width: $screen-sm-max) {
      padding-top: 10px;
    }
  }

}

@-moz-document url-prefix() {
  .fa-select-custom {
    &__select {
      padding-left: 8px;
    }
  }
}

.select-custom {
  @extend .form-control;
  background-color: #ffffff;
  position: relative;
  display: block;
  vertical-align: middle;
  padding-top: 12px;

  &__icon {
    @include position(absolute, 50% 15px null null);
    @include transform(translateY(-50%));
    font-size: rem(18);
  }

  &__list {
    list-style-type: none;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); // FIX bug on IE 11 with list style https://stackoverflow.com/questions/20356311/internet-explorer-11-ignores-list-stylenone-on-the-first-load
    padding: 10px 0;
    margin: 0;
    @include position(absolute, 43px -1px null -1px);
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-top-color: $color1;
    display: none;
  }

  &__item {
    padding: 10px 0 10px 15px;

    &:active, &:hover, &:focus {
      cursor: url(../images/icon-arrows.png), move;
    }

    &__name {
      vertical-align: middle;
    }

    &__icon {
      float: right;
      margin-right: 15px;
      color: #b0b0b0;

      .fa {
        margin-right: 0;
      }

      &:hover {
        cursor: pointer;
        color: $red;
      }
    }

    &:before {
      content: '\25CF';
      font-size: 10px;
      display: inline-block;
      border: 2px solid #bbbbbb;
      color: transparent;
      border-radius: 50%;
      width: 18px;
      text-align: center;
      vertical-align: middle;
      margin-right: 10px;
    }

    &.sortable-chosen, &.is-active {
      font-weight: bold;

      &:before {
        content: '\25CF';
        font-size: 10px;
        display: inline-block;
        border: 2px solid $color1;
        color: $color1;
        border-radius: 50%;
        width: 18px;
        text-align: center;
        vertical-align: middle;
      }
    }

    &:hover {
      background-color: #e1e8eb;
    }
  }

  &.is-active {
    z-index: 999;
    .select-custom__icon {
      .fa {
        @include transform(rotate(180deg));
      }
    }
    .select-custom__list {
      display: block;
    }
  }
}

.sortable-chosen {
  cursor: url(../images/icon-arrows.png), move !important;
}
