@import "variables";

@font-face {
  font-family: 'gwicon';
  src:
    url('#{$icomoon-font-path}/gwicon.ttf?nivnp4') format('truetype'),
    url('#{$icomoon-font-path}/gwicon.woff?nivnp4') format('woff'),
    url('#{$icomoon-font-path}/gwicon.svg?nivnp4#gwicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gwicon-"], [class*=" gwicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gwicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 4.1rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.gwicon-warehouse-blank {
  &:before {
    content: unicode($gwicon-warehouse-blank); 
  }
}
.gwicon-checkbox-checked {
  &:before {
    content: unicode($gwicon-checkbox-checked); 
  }
}
.gwicon-checkbox-unchecked {
  &:before {
    content: unicode($gwicon-checkbox-unchecked); 
  }
}
.gwicon-transport-land-premium {
  &:before {
    content: unicode($gwicon-transport-land-premium); 
  }
}
.gwicon-dashboard {
  &:before {
    content: unicode($gwicon-dashboard); 
  }
}
.gwicon-outbound {
  &:before {
    content: unicode($gwicon-outbound); 
  }
}
.gwicon-inbound {
  &:before {
    content: unicode($gwicon-inbound); 
  }
}
.gwicon-transport-air {
  &:before {
    content: unicode($gwicon-transport-air); 
  }
}
.gwicon-transport-land {
  &:before {
    content: unicode($gwicon-transport-land); 
  }
}
.gwicon-transport-sea {
  &:before {
    content: unicode($gwicon-transport-sea); 
  }
}

