$icomoon-font-path: "fonts/gwicon/fonts" !default;

$gwicon-transport-air: "\e90a";
$gwicon-checkbox-checked: "\e901";
$gwicon-checkbox-unchecked: "\e902";
$gwicon-warehouse-blank: "\e903";
$gwicon-inbound: "\e905";
$gwicon-outbound: "\e904";
$gwicon-transport-land: "\e900";
$gwicon-transport-sea: "\e909";
