/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* Fonts */
@import "gw/vendor/bootstrap";
@import "fonts/gwicon/style";

/* Custom styles */
@import "gw/colors";
@import "gw/variables";
@import "gw/base/list";
@import "gw/header";
@import "gw/base/mixins";
@import "gw/buttons";
@import "gw/navbars";
@import "gw/dropdown";
@import "gw/tables";
@import "gw/links";
@import "gw/footer";
@import "gw/text";
@import "gw/textfields";
@import "gw/datetime";
@import "gw/notifications";
@import "gw/sidenav";
@import "gw/breadcrumb";
@import "gw/layouts";
@import "gw/base/common";
@import "gw/icons";
@import "gw/inputs";
@import "gw/lists";
@import "gw/tooltip";
@import "gw/m-nav-tabs";
@import "gw/modals";

@import "gw/portlets/userPortlet";
@import "gw/portlets/contactPortlet";
@import "gw/portlets/contactRequestPortlet";
@import "gw/portlets/taglib";
@import "gw/portlets/filterTable";
@import "gw/portlets/rssPortlet";
@import "gw/portlets/statisticsPortlet";
@import "gw/portlets/feedbackPortlet";
@import "gw/portlets/journalPortlet";
@import "gw/search-container";

/* Decoator */
@import "gw/gw_decorator";

// Vendors
@import "vendors/_jquery-ui.scss";
@import "vendors/_c3.scss";
@import "gw/vendor/basictable";
@import "gw/vendor/bootstrap-datepicker";
@import "gw/vendor/dropzone";

// table inscript todo: merge with _table.scss
@import "gw/base/mixins";
@import "gw/base/table";
@import "gw/base/overrides";
@import "gw/base/grid";

// filter navigation inscript
@import "gw/m-filters";
@import "gw/m-filters-nav";
@import "gw/m-filter-results";


// header inscript
@import "gw/m-header";

// search inscript
@import "gw/m-search";

// section inscript
@import "gw/m-section";

// form inscript
@import "gw/base/form";

// table-v1 inscript
@import "gw/table-v1";

// table-v2 inscript
@import "gw/table-v2";

// panel inscript
@import "gw/m-panel";

// contact-form inscript
@import "gw/m-contact-form";

// table with cover inscript
@import "gw/m-table-with-cover";

// menu inline inscript
@import "gw/m-menu-inline";

// footer inscript
@import "gw/m-footer";

// footer-bottom inscript
@import "gw/m-footer-bottom";

// footer col inscript
@import "gw/m-footer-col";

// social-media inscript
@import "gw/m-social-media";

// pagination inscript
@import "gw/_m-pagination";

// pagination inscript
@import "gw/_m-datepicker";

// modal inscript
@import "gw/m-modal";

// request modal inscript
@import "gw/m-request";

// info modal inscript
@import "gw/m-info-modal";

// portal news inscript
@import "gw/m-portal-news";

// box inscript
@import "gw/m-box";

// box-list inscript
@import "gw/m-box-list";

// contact-box inscript
@import "gw/m-contact-box";

// faq inscript
@import "gw/m-faq";

// accordion inscript
@import "gw/m-accordion";

// chat inscript
@import "gw/m-chat";

// notifications inscript
@import "gw/m-notifications";

// notifications menu nscript
@import "gw/m-notifications-menu";

// notification-settings inscript
@import "gw/m-notification-settings";

// note-bar inscript
@import "gw/m-note-bar";

// notification-settings inscript
@import "gw/m-user";

/* Tooltipster */
@import "tooltipster/tooltipster.bundle.css";

@import "tooltipster/tooltipster-sideTip-gw.scss";

@import "gw/vendor/select2";

// select inscript
@import "gw/m-select";

// ses status styling circles
@import "gw/sesstatus";

// import order status icons
@import "gw/ordertype";

// popover inscript
@import "gw/m-popover.scss";

@import "gw/vendor/jquery.floatingscroll";

body,html{
  font-family: $font-family-sans-serif !important;
  /*position: relative;*/

    .flipped{
        position: relative;
    }
}

body{
    overflow-x: hidden;

}

.dialog-iframe-root-node, .dialog-iframe-root-node .portal-popup, .dialog-iframe-root-node .portal-popup .flipped{
    width: 100%;
    height: 100%;
}

.dialog-with-footer .button-holder.dialog-footer{
	position: absolute;
}

.portlet-topper{
	background-color: $colorPrimary100;
	border-color: $colorPrimary100;
}

#maincontent{
    background-color: $navigationMenuBackground;
  /* In Inscript theme the box shadow is removed */
  /* todo remove this if not needed anylonger
    -webkit-box-shadow: inset 0px 5px 4px -4px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0px 5px 4px -4px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0px 5px 4px -4px rgba(0, 0, 0, 0.35);
  */

  @media only screen and (min-width: $screen-md-min) and (max-width: $screen-nav-abs-min) {
    padding-left: 100px;
  }
}

.dark-background{
  background-color: $colorSecondary100;
  color: $colorForeground100;
}

.portlet:hover > .portlet-content-editable { border-color: transparent; }

.sticker-default {
	background-color: $colorSecondary100;

	@if variable-exists(sticker-primary-color) {
		color: $colorForeground100;
	}
}

.sticker-primary {
	background-color: $colorPrimary100;

	@if variable-exists(sticker-primary-color) {
		color: $colorForeground100;
	}
}

.inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}


.background-transparent {
  background-color: $navigationMenuBackground;
}

.margin-bottom-40 {
  margin-bottom: 40px;
  border-bottom: 1px solid $section-border;
}

fieldset {
  border: 0;
  margin: 0 1px;
  padding: 0;
}

.error{
  color:$colorError !important;
  &.form-control.trigger{
    color:$colorError !important;
  }

}
.language-selector:hover{
  cursor: pointer;
}

.form-control:focus {
  color: #29353D !important;
}

//no hovereffect in ie
/*@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  tbody>tr{
    pointer-events: none;
  }
}
*/

/* To be enabled when finally defined */
/*
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
*/