.breadcrumb{
    margin-bottom: 0px !important;
    color: $colorTertiary30;
    padding: 15px 32px 19px 32px;

    i{
        font-size: 16px;
        color: $color3;
    }

    a{
        font-size: $font-size-h5 !important;
        font-weight: normal;
        text-decoration: none;
        color: $color3;

        &.active{
            color: $colorPrimary100;
        }
    }

    a:hover, a:active, a:focus{
        text-decoration: none;
    }

    .toggle-add-menu {
        position: absolute;
        right: 32px;
    }

}

.breadcrumb::after{
    clear: inherit !important;
}

@media(max-width: 576px){
    .breadcrumb{
        display:none;
    }
}