.gw-portlet-decorate .portlet-content, .gw-filter-table-decorate .portlet-content {
  background: #FFF;
  border: none;
  padding: 0;

  .gw-portlet-header {
    border: none;
    word-wrap: break-word;
  }

  .gw-portlet-header {
    padding: 18px 40px 0;
    height: 74px;
    border-bottom: 1px solid $section-border;

    .back-section {
      float:right;
      width: 100px;

      span {
        line-height: 26px;
        float: right;
      }

      i {
        float: right;
      }
    }
    h2 {
      &.portlet-title-text{
        font-weight: bold;
        line-height: 1.4;
        color: $color3;
        font-size: 28px;
      }
    }

  }

  .header-separator {
    height: 20px;
    background-color: $navigationMenuBackground;
  }

  .separator-20 {
    height: 20px;
    background-color: $navigationMenuBackground;
  }
}

.gw-portlet-decorate .portlet-content {

  .gw-portlet-body {
    border: none;
    word-wrap: break-word;
    padding: 18px 40px 1px;
  }

}

.gw-filter-table-decorate .portlet-content {

  .gw-portlet-body {
    border: none;
    word-wrap: break-word;
  }

}

