/* GWKP-12 Layout styling [arodriguez] */

#maincontent{
    //width: 79%;
    .portlet-column {
        padding-right: 16px;
        padding-left: 16px;
    }

    .portlet-boundary {
        padding-top: 11px;
        padding-bottom: 11px;
    }
}

/* borders for content */

#content{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
}

@media(max-width: 576px){
    #content{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.gebrueder-weiss-layout .portlet-barebone .portlet-content {
    background-color: white;
}