.m-box {
  background-color: #ffffff;

  //&:not(:last-child) {
    margin-bottom: $margin-default;
  //}

  &__content {
    position: relative;
    padding: 0 40px 40px;
    border-bottom: 1px solid #dddede;

    @media (max-width: $screen-xs-max) {
      padding: 0 20px 20px;
    }
  }

  &__header {
    padding: 17px 40px 0;
    border-bottom: 2px solid #e6e7e8;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    color: $grey-1;
    margin-bottom: 18px;
    line-height: 1;

    i {
      color: #b0b0b0;
      font-size: 20px;
      margin-right: 12px;
      vertical-align: bottom;
    }
  }
}