.m-filters {

  &__form {
    padding: 40px 40px;
  }

  &__fa-checkbox-filters {
    @extend .fa-checkbox-custom;
    padding-left: 60px !important;
    float: none !important;
    padding-top: 0;
  }
}
